# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list of popular languages for data science
- list of data science tools
- examples of arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Scikitlearn
2. TensorFlow
3. NLTK

|Data Science Tools|
|------------------| 
|Pandas            |
|Numpy             |
|Matplotlib        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
min = 200
h = min/60
print(h)

3.3333333333333335

## Author
Youssef Oualmakran